.addressBox {
  line-break: anywhere;
  display: flex;
  padding: 16px;
  //height: 48px;
  //align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 16px -6px rgba(0, 0, 0, 0.08);
  width: 100%;

  &_iconCopy {
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}

.wrapQR {
  //max-width: 200px;
  background-color: white;
  padding: 42px;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: auto;
}

.modalContent {
  :global {
    .chakra-modal__header {
      margin-top: 0 !important;
    }
    
    .modal-content {
      max-width: 480px;
    }
  }
}