.popoverContent {
  border: 1px solid rgba(255, 255, 255, 0.30) !important;
  background: rgba(30, 0, 255, 0.3) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30) !important;
  backdrop-filter: blur(30px) !important;
}

.containerOverview {
  .statsCard {
    flex: 1;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    padding: 12px 16px;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .containerTable {
    th {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 400;
      padding: 8px 16px;
      background: transparent;
      border-bottom: 1px solid rgba(255, 255, 255, 0.30);
      background: rgba(255, 255, 255, 0.10);
      text-transform: capitalize;
    }

    td {
      font-size: 13px;
      font-size: 400;
      padding: 12px 16px;
      background: transparent;
      border-bottom: 1px solid rgba(255, 255, 255, 0.10);
      background: rgba(255, 255, 255, 0.00);
    }

  }
}
