.percent {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  align-self: flex-end;
  gap: 4px;
  position: relative;

  &.hight {
    color: #11FF0D !important;
  }
  &.low {
    color: #ff4747 !important;
  }
}
