.popoverContent {}

.containerOverview {
   width: 382px !important;
   background-image: url('images/bg_processing_tasks.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

   .btnTaskProcessing {
      font-size: 14px;
      font-weight: 400;
      border-radius: 100px;
      border: 1px solid #000;
      background: rgba(255, 255, 255, 0.30);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      &:hover {
         background: transparent;
      }

      :global {
         .chakra-button__icon {
            margin-right: 0;
         }        
      }
   }
}

.taskListScroll {
   -ms-overflow-style: none;
   /* Internet Explorer 10+ */
   scrollbar-width: none;
   /* Firefox */

   &::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */
   }
}