.container {
  width: 100%;
  //background-color: #101216;

  position: relative;
  flex: 1;
  // max-height: calc(
  //   70vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
  // );
}

.chatList {
  // max-height: calc(
  //   70vh - env(safe-area-inset-bottom) - env(safe-area-inset-top) - 60px - 32px
  // );
  // min-height: calc(
  //   70vh - env(safe-area-inset-bottom) - env(safe-area-inset-top) - 60px - 32px
  // );

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .btnStart {
    height: 60px;
    min-width: 300px;
    background: #FFF;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }
}

.walletWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  // border: 1px solid #00000026;
  // border-radius: 0px 0px 16px 16px;
  // border-top-width: 0px;
  // margin: -1px 1px;
}
