.container {
  padding: 12px 24px;;
  background: linear-gradient(180deg, rgba(228, 229, 216, 0.60) 0%, rgba(203, 214, 232, 0.60) 100%);

  .contentContainer {
    &.isSetup {
      .content {
        background-color: #FFFFFF1A;
        border: 1px solid #FFFFFF1A;
      }

      .text {
        color: #FFF;
      }

      .btnExport {
        background-color: #FFFFFF;
        color: #000;
      }

      .btnBuy {
        background-color: #FFFFFF;
        color: #000;
      }
    }
  }

  .btnTaskProcessing {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover {
      background: rgba(255, 255, 255, 0.30);
    }

    :global {
      .chakra-button__icon {
        margin-right: 0;
      }
    }
  }

  .btnStop {
    min-height: 24px;
    height: 100%;
    min-width: 250px;
    background: transparent !important;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 0;
  }

  .btnClearHistory {
    min-height: 24px;
    height: 100%;
    min-width: 250px;
    background: transparent !important;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 0;
  }

  .btnUpdateCode {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent !important;
    color: #5400FB !important;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline !important;
  }

  .content {
    height: 36px;
    // padding: 0px 16px;
    // border-radius: 1000px;
    // background-color: #FFFFFF;
    // border: 1px solid #0000001F;
  }

  .text {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
  }

  .percent {
    font-size: 14px;
    font-weight: 400;
    align-self: unset;
  }

  .btnExport {
    background-color: #000;
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    border-radius: 100px;
    height: 36px;

    svg {
      width: 18px;

      path {
        fill: #FFF;
      }
    }
  }

  .btnBuy {
    background-color: #000;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    border-radius: 100px;
    min-width: 60px;
    height: 36px;
  }

  .btnInstall {
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
  }
}