.container {
  width: 100%;
  height: 100%;
  // justify-content: center;
  align-items: center;
  background-color: #E9E9EE;

  .content {
    width: 1000px;
    height: max-content;
    flex: 1;
  }
}
