.ratingListContainer {
  width: 100%;

  .title {
    font-size: 20px;
    font-weight: 500;
    color: var(--chakra-colors-black);
  }

  .viewAll {
    font-size: 14px;
    font-weight: 400;
    color: #7DAFFF;
    cursor: pointer;
  }

  .header {
    margin-bottom: 2rem;
    gap: 4rem;

    .averageRating {
      display: flex;
      align-items: flex-end;
    }

    .ratingStats {
      flex: 1;
    }

    .ratingBar {
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    .totalRatings {
      color: var(--chakra-colors-black);
    }
  }

  .ratingsList {
    width: 100%;
    overflow-x: auto;
    padding: 1rem 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      display: flex !important;
      flex-wrap: nowrap;
      gap: 1rem;
    }
  }

  &.dark {
    .title {
      color: var(--chakra-colors-white);
    }

    .header {
      .averageRating {
        color: var(--chakra-colors-white);
      }

      .totalRatings {
        color: var(--chakra-colors-white);
      }
    }
  }
}

.modalContent {
  :global {
    .chakra-modal__header {
      display: none;
      margin-top: 0 !important;
    }
    .modal-content {
      max-width: 480px;
    }
  }
}