.container {
  background-color: #FFF;
  min-height: 100vh;

  > div {
    height: unset !important;
  }

  .detailContainer {
    padding-top: 16px;

    &.isSetup {
      background-image: url('/images/bg-setup-agent.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}