.container {
  background-color: #fff;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  > div {
    height: unset !important;
  }

  .detailContainer {
    // padding-top: 16px;

    &.isSetup {
      background: linear-gradient(117deg, #000 12.51%, #666 87.43%);
      // background-image: url("/images/bg-setup-agent.png");
      // background-size: cover;
      // background-repeat: no-repeat;
    }
  }
}
