.container {

  .content {
    padding: 8px 16px;
    border-radius: 1000px;
    background-color: #FFFFFF1A;
    border: 1px solid #FFFFFF1A;
  }

  .text {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
  }

  .percent {
    font-size: 14px;
    font-weight: 400;
    align-self: unset;
  }

  .btnBuy {
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    border-radius: 100px;
    min-width: 60px;
    height: 36px;
  }

  .btnInstall {
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
  }
}