
@keyframes moveStripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.deepthinking {
  min-width: 300px;
  transition: all 0.3s ease;
  margin-bottom: 12px;

  .title {
    display: flex;
    align-items: center;
    gap: 6px;
    
    &:hover {
      cursor: pointer;
    }

    .titleText {
      font-size: 14px;
      font-weight: bold;
    }

    .thinking {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .thinkingText{
      font-size: 14px;
      font-weight: bold;
      background: repeating-linear-gradient(
        45deg,
        #000 0%,
        #222 10%,
        #fff 20%,
        #222 30%
      );
      background-size: 300% 300%;
      -webkit-background-clip: text;
      color: transparent;
      animation: moveStripes 5s linear infinite;
    }
  }

  .content {
    margin-top: 6px;
    margin-bottom: 12px;
    padding-left: 4px;
    margin-left: 4px;
    // border-left: 3px solid rgba(0, 0, 0, 0.3);

    .thinkText {
      color: rgba(0, 0, 0, 0.5);
      font-size: 15px;
      line-height: 140%;
      font-weight: 300;
    }
  }
}