.details {
  summary {
    list-style: none; /* Remove default arrow */
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    &::-webkit-details-marker {
      display: none; /* Remove arrow in Chrome, Safari */
    }
  }
  .thinkText {
    margin-top: 6px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    border-left: 3px solid rgba(0, 0, 0, 0.3);
    padding-left: 6px;
    margin-left: 6px;
    line-height: 140%;
    font-weight: 300;
  }

  &.isLight {
    .thinkText {
      color: rgba(0, 0, 0, 0.5);
      border-left-color: rgba(0, 0, 0, 0.3);
    }
  }
}
