
.imageSlider {
   max-width: 100%;
   aspect-ratio: 1/1;
   margin-top: 10px;
   margin-bottom: 10px;
   ul {
      margin-left: 0 !important;
      padding-left: 0 !important;
   }
}

.container {
   max-width: 100%;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.sliderSlicker {
   width: 100%;
   height: 100%;
   overflow: hidden;
   max-width: 100%;
}

.slideItem {
   width: 100%;
   aspect-ratio: 1/1;
   overflow: hidden;
   flex-shrink: 0;

   .box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: #222;
         filter: blur(2px);
         z-index: 1;
      }
   }

   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      z-index: 2;
      background-color: transparent !important;
   }
}

.thumbnail {
   width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 2px;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }
}

.dots {
   list-style: none;
   padding: 0;
   margin: 0;
   display: block;
   text-align: center;


   li {
      display: inline-block;
      width: 60px;
      height: 45px;
      margin: 0 5px;

      &:global(.slick-active) {
         
         img {
            filter: grayscale(0%);
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
         }
      }

      &:hover {
         cursor: pointer;
      }

      img {
         filter: grayscale(50%);
         opacity: 0.5;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         // mix-blend-mode: difference;
      }
   }
}